
@{
    ViewBag.Title = "PostActivacion";
}

<br>

<div class="alert alert-success">
    <strong>Muy bien</strong> La cuenta ha sido activada con éxito!!
</div>

<h3>Muchas gracias por completar su registro!</h3>
<p>Ya puede volver y puede conectarse con su nueva cuenta.</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
