@model ProyectoGerencia.ViewModels.Pago.PagoVM
@section styles{
    <link rel="stylesheet" href="~/Content/style.css" />
}
<div class="col-lg-6">
    <form class="form-horizontal" action="/Pago/Index" method="POST" id="myform">
        
        @*Mensaje de entrada al modulo de pagos*@
        <fieldset id="realizar_pagos" class="">
            @*@ViewBag.Message*@
            <legend>Menu de perfil</legend>
            <div class="form-group">
                <label for="pagos" class="col-lg-4 control-label">Realizar pagos</label>
                <div class="col-lg-8">
                    <a class="btn btn-primary next">Continuar</a>
                </div>
            </div>
        </fieldset>

        
        @*Tabla con los saldos*@
        <fieldset id="saldos_cuenta_corriente" class="">
            <legend>Despligue de saldos o cuenta corriente</legend>
            <table class="tg">
                <tr>
                    <th class="tg-s6z2">Detalle</th>
                    <th class="tg-031e">Debito</th>
                    <th class="tg-031e">Credito</th>
                </tr>
                <tr class="col-titles">
                    <td class="tg-031e">Impuesto - Tipo (D/C) - Descripcion - Fecha</td>
                    <td class="tg-031e">Monto</td>
                    <td class="tg-031e">Monto</td>
                </tr>
                <tr>
                    <td class="tg-031e">Impuesto - Debito - Pago Pendiente - 07/07/2018</td>
                    <td class="tg-031e">&#162; 50000</td>
                    <td class="tg-031e">&ndash;</td>
                </tr>
                <tr>
                    <td class="tg-031e">Impuesto - Credito - Monto Depositado - 09/07/2018</td>
                    <td class="tg-031e">&ndash;</td>
                    <td class="tg-031e">&#162; 50000</td>
                </tr>
                @for (int i = 0; i < Model.Montos.Count; i++)
                {
                    <tr>
                        <td class="tg-031e">Impuesto - Credito - Monto Depositado - @DateTime.Now.Date</td>
                        <td class="tg-031e">&ndash;</td>
                        <td class="tg-031e">&#162; @Html.DisplayFor(model => model.Montos[i])@Html.HiddenFor(model => model.Montos[i])</td>
                    </tr>
                }
            </table>
            @*<div class="form-group saldo-pendiente">
                <label for="saldo" class="col-lg-4 control-label">Saldo pendiente: &#162;</label>
                <div class="col-lg-8">
                    <p class="monto"><strong><span>###.###,##</span></strong></p>
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <a class="btn btn-primary previous" id="previous">Regresar</a>
                    <a class="btn btn-primary next">Abonar monto</a>
                </div>
            </div>
        </fieldset>


        @*Abonar a las deudas*@
        <fieldset id="abonar_monto" class="">
            <legend>Abonar monto</legend>
            <div class="form-group saldo-pendiente">
                <label for="saldo" class="col-lg-4 control-label">Saldo pendiente: &#162;</label>
                <div class="col-lg-8">
                    <p class="monto"><strong><span>###.###,##</span></strong></p>
                </div>
            </div>
            <div class="form-group">
                <label for="monto" class="col-lg-4 control-label">Monto a abonar: &#162;</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="abono" id="abono" placeholder="###.###,##">
                    @Html.EditorFor(model => model.NewMonto, new { htmlAttributes = new { @class = "form-control", @name = "abono", @id = "abono", @placeholder = "###.###,##" } })
                    @Html.ValidationMessageFor(model => model.NewMonto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <a class="btn btn-primary previous" id="previous">Regresar</a>
                    <input class="btn btn-success" type="submit" value="PayPal">
                </div>
            </div>
        </fieldset>

    </form>
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.js"></script>
    <script src="~/Scripts/form-validation.js"></script>
}
