
@{
    ViewBag.Title = "Notificacion";
}

<div class="alert alert-success">
    <strong>Abono realizado.</strong> Gracias por preferirnos.
</div>

<div class="container">
    <h2>Notificacion</h2>
    <p>Pronto le llegará un correo con la factura digital y un correo de la empresa agredeciento su pago.</p>
</div>
